body {
    background-repeat:no-repeat;
    background-size: cover;
}

#hint_text{
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



#cipher_container{
    
    color: darkgreen;
    border-left: 6px solid darkgreen;
    border-radius: 25px;
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, 'sans serif';
    font-size: 2em;
    padding: 10px;
    max-width: 40%;
    position: fixed;
    top: 30%;
    right: 20%;

}

.input{
    position: fixed;
    bottom: 40%;
    right: 5%;
}
.flag_type{
    margin:15px;
}
.flag_text{
    
    font-family: 'Times New Roman', Times, 'sans serif';
    font-size: 1.2em;
    float: left;
	width: 60px;
    margin-right: 10px;
    color:#2ea82e;
    margin-left: 10px;
}
.flag_input{
    background: transparent;
    font-size: 1.2em;
    width:500px;
    color: #2ea82e;    
    border-width: 0px 0px 0px 0px;
    border-color: darkred;
}

.flag_check{
    font-size: 1em;
    float: right;
    margin-left: 10px;
    color:white;
    background-color: transparent;
    border: none;
    padding: 8px;
}

.flag_check:hover{
    background-color:#61F5A1;
}