body {
    background-color: #000
}
#console {
    font-family: courier, monospace;
    color: #fff;
    width:750px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    font-size:14px;
}
a {
    color: #0bc;
    text-decoration: none;
}
#a {
    color: #0f0;
}
#c {
    color: #0bc;
}
#b {
    color: #ff0096;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-right: 500px;
    position: fixed;
    bottom: 200px;
    right: 0px
}

.button:hover {
    background-color: rgb(100, 145, 102); /* Green */
    color: white;
}